* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f7fa;
    padding: 40px;
    font-family: Montserrat;
}

.wrapper {
    background-color: #ffffff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

aside {
    background-color: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.my-photo {
    width: 370px;
}

.about-me {
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 90px;
    padding-right: 90px;
}

.contacts-container {
    margin-top: 60px;
    margin-left:  40px;
    margin-right: 40px;
}

.contacts-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #626a75;
}

.contacts-link-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-right: 10px;
}

.tech-skills-title {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.tech-skills-container {
    margin-top: 55px;
    margin-left:  40px;
    margin-right: 40px;
}

.tech-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ff6b08;
    margin-left: 15px;    
}

.tech-skills-text {
    color: #cdd0d3;
}

.soft-skills-title {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}

.soft-skills-container {
    margin-top: 50px;
    margin-left:  40px;
    margin-right: 40px;
}

.soft-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ff6b08;
    margin-left: 15px;    
}

.soft-skills-text {
    color: #cdd0d3;
}

.profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: px;
}

.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}

.description {
    color: #595959;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 413px;
}

.info-container {
    margin-bottom: 65px;
}

.projects-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.projects-b {
    font-weight: 700;
    letter-spacing: 0.42px;
    margin-left: 17px;
}

.projects-link {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.projects-text {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.dots {
    font-size: 14px;
    font-weight: 400;
    color: #a8a8a8;
}

.projects-container {
    margin-bottom: 50px;
}

.work-exp-container {
    margin-bottom: 55px;
    width: 535px;
}

.work-exp-title {
    color: #000000;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.work-exp-pos {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
}

.work-exp-com2 {
    color: #ff6b08;
}

.date {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 15px;
}

.date-symb {
    height: 14px;
    color: #000000;
}

.company-container {
    margin-bottom: 25px;
}

.work-exp-list {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 17px;
}

.university {
    color: #ff6b08;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
}

.direction {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 14px;
}